body {
  height: 100vh;
  width: 100vw;
}

.about {
  min-height: 400px;
  height: auto;
}
/*
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}*/
/* for blurring out entire backgrounds*/
/*.blur {
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}*/
/* for putting a slightly blurry grey background behind text*/
.blur-grey {
  background: rgba(66, 66, 66, 0.7);
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.blur-grey-2 {
  background: rgba(66, 66, 66, 0.7);
}
.blur-grey-3 {
  background: rgba(66, 66, 66, 0.15);
}
/*.blur-grey-4 {
  background: rgba(245, 245, 245, 0.4);
}*/
/*.blur-black {
  background: rgba(0, 0, 0, 0.85)
}*/

.svg {
  height: 100px;
  width: 100px;
}
/*sets the main background to be fullscreen minus the height of the navigation bar*/
.bg-head {
  height: calc(100vh - 56px)
}
/*adjusts the height for smaller screens*/
@media only screen and (min-width: 601px) {
  .bg-head {
    height: calc(100vh - 64px)
  }
}
.bg {
  background-image: url(../img/background/mountains2.jpg);
  background-size: cover;
}

.test {
  background-position: 50% 100px !important;
}

.ts-pic {
  /*border-color: rgba(255, 255, 255, 0.5);*/
  border-color: rgba(66, 66, 66, 0.7);
  border-width: .4em;
  border-style: solid;
  border-radius: 100%;
}

/*.bg-head {*/
  /*height: 94vh;*/
  /*width: 100%;*/
/*}*/

.navbar-brand {
  padding: 0px;
}
/* centering and resizing the svg logo in the nav bar */
.navbar-brand>img {
  height: 100%;
  padding: 2.5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
}

/*.link-target {
  position: absolute;
  bottom: 64px;
}*/

/* Switches to a tag in mobile */
.telephone-mobile {
  display: none;
}
@media only screen and (max-width: 601px) {
  .telephone-desk {
    display: none;
  }
  .telephone-mobile {
    display: block;
  }
}

/* Flex */
.flex-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-child {
  flex-basis: 12%;
  margin: 5px 15px;;
}
.icon {
  width: 4.5vw;
  height: 4.5vw;
  /*width: 100px;
  height: 100px;*/
  /*padding: 5px;*/
}

@media (max-width: 975px) {
  .icon {
    width: 12vw;
    height: 12vw;
  }
  .flex-child {
    flex-basis: 15%;
  }
}
@media (max-width: 444px) {
  .icon {
    width: 20vw;
    height: 20vw;
  }
  .flex-child {
    flex-basis: 25%;
  }
}
