
.parallax-container {
  min-height: 380px;
  /*line-height: 0;*/
  height: auto;
  /*color: rgba(255,255,255,0.3);*/
}
/*
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}*/
/* for blurring out entire backgrounds*/
/*.blur {
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}*/
/* for putting a slightly blurry grey background behind text*/
.blur-grey {
  background: rgba(70, 70, 70, 0.7);
  /*padding: 1.5em;*/
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.blur-black {
  background: rgba(0, 0, 0, 0.85)
}

.svg {
  height: 100px;
  widows: 100px;
}

.bg {
  background-image: url(../img/background/mountains2.jpg);
  background-size: cover;
}

.ts-pic {
  /*border-color: rgba(255, 255, 255, 0.5);*/
  border-color: rgba(70, 70, 70, 0.7);
  border-width: .4em;
  border-style: solid;
  border-radius: 100%;
}

.bg-head {
  height: 95vh;
  /*width: 100%;*/
}

.navbar-brand {
  padding: 0px;
}
/* centering and resizing the svg logo in the nav bar */
.navbar-brand>img {
  height: 100%;
  padding: 2.5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
}
